<div id="<%= dom_id product %>">  
<tr>
  <td><%= product.id %></td>
  <td><%= product.product_name %></td>
  <td><%= product.user.name %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= product.flex_price %></td>
  <td><%= product.ratings_count %></td>
  <td><%= product.average_rating %></td>
  <td><%= product.download_count %></td>
<tr>

