<div id="<%= dom_id user %>">  
<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.highlight_color %></td>
  <td><%= user.background_color %></td>
  <td>
    <% if user.products.any? %>
      <ol>
        <% user.products.each do |product| %>
          <li><%= product.product_name %></li>
        <% end %>
      </ol>
    <% else %>
      n/a
    <% end %>
  </td>
  <td>
    <% if user.liked_products.any? %>
      <ol>
        <% user.liked_products.each do |product| %>
          <li><%= product.product_name %></li>
        <% end %>
      </ol>
    <% else %>
      n/a
    <% end %>
  </td>
  <td>
    <% if user.recently_viewed_products.any? %>
      <ol>
        <% user.recently_viewed_products.each do |product| %>
          <li><%= product.product_name %></li>
        <% end %>
      </ol>
    <% else %>
      n/a
    <% end %>
  </td>
  <td>TBD</td>
<tr>
