<div id="<%= dom_id user %>">  
<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.highlight_color %></td>
  <td><%= user.background_color %></td>
  <td><%= user.profile_pic %></td>
  <td><%= user.products %></td>
  <td><%= user.bundled_products %></td>
  <td><%= user.recently_viewed_products %></td>
  <td><%= user.recently_viewed_categories %></td>
<tr>
