<div id="<%= dom_id user %>">  
<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.highlight_color %></td>
  <td><%= user.background_color %></td>
  # <td>TBD</td>
  # <td>TBD</td>
  # <td>TBD</td>
  # <td>TBD</td>
<tr>
