<div id="<%= dom_id bundle %>">  
<tr>
  <td><%= bundle.id %></td>
  <td><%= bundle.name %></td>
  <td><%= bundle.description %></td>
  <td><%= bundle.discount_percentage %>%</td>
  <td><%= bundle.user_id %></td>
  <td><%= bundle.products %></td>
<tr>