<div id="<%= dom_id product %>">
  
<tr>
  <td><%= product.product_name %></td>
  <td><%= product.creator_name %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><button type="button" class-"btn btn-secondary"><%= link_to "Show", product %></button></td>
  <td><button type="button" class-"btn btn-secondary"><%= link_to "Edit", product %></button></td>
  <td><button type="button" class-"btn btn-secondary"><%= link_to "Destroy", product %></button></td>
<tr>