<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Flex price:</strong>
    <%= product.flex_price %>
  </p>

  <p>
    <strong>Ratings count:</strong>
    <%= product.ratings_count %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= product.average_rating %>
  </p>

  <p>
    <strong>Download count:</strong>
    <%= product.download_count %>
  </p>

</div>
